<div class="video-view">
  <video
    #my_video
    class="video-js vjs-default-skin"
    controls
    crossorigin="anonymous"
    playsinline
  ></video>

  <div class="go">
    <input type="text" />

    <button (click)="go(5)">GO</button>
  </div>

  <button (click)="play()">PLAY</button>
  <button (click)="pause()">PAUSE</button>

  <button (click)="hideControl()">HIDE CONTROL</button>
  <button (click)="showControl()">SHOW CONTROL</button>
  <button (click)="openVR()">OPEN VR</button>
</div>
